body{
	background-color: rgb(255, 237, 243);
}
a{
	text-decoration: none;
}
a:visited{
	color: rgb(255, 91, 165);
}
a:hover{
	color: rgb(67, 142, 200);
}
li{
	font-size: 1rem;
	line height: 1.5rem;
	margin-bottom: 10px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header{
	width: 75vw;	
	margin: 25px auto;
}
main{
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col{
	width: 50%;
	float: left;
}
@media screen and (max-width: 700px){
	.col{
		width: 100%;
		margin-bottom: 50px;
	}
	header{
		width: 90vw;
	}
	main{
		width: 90vw;
	}
	h1{
		font-size: 3rem;
	}
}