h1{
	font-family: duckie, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 140px;
	letter-spacing: 3px;
}
body{
	background-color: rgb(254, 216, 177);
	text-align: center;
}
a {
	text-decoration: none;
}
a:visited {
	color: rgb(255, 139, 0);
}
a:hover {
	color: rgb(255, 91, 165);
}
h3{
	font-size: 70px;
}